<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gesture-based App</title>
</head>
<body>
    <h1>Gesture-based Application</h1>
    <button onclick="window.location.href='/run_car_game'">Start Car Game</button>
    <button onclick="window.location.href='/run_light_control'">Start Light Control</button>
    <button onclick="window.location.href='/run_automated_msg'">Start Automated Message</button>
</body>
</html>
